body {
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {

    width: 100%;
    height: 75px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(37,37,134,1) 35%, rgba(0,212,255,1) 100%);
    box-shadow: inset  
}

header h1 {

    color: aliceblue;
    font-size: 50px;
    position: relative;
    left: 20px;
    top: 10px;
    text-align: justify;
}

main {

    display: flex;
    align-items: flex-start;
    width: 100%;

}

/* City Search Box */

.city-search-box {
    width:  400px;
    min-width: 400px;
    border-bottom: solid black 3px;
    position: relative;
    left: 10px;
}

.search-title {
    margin-top: 15px;
    font-size: 40px;
    position: relative;
    left: 5px;
}

.search-form {
    padding: 10px 75px 10px 10px;
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 20px;
    position: relative;
    left: 5px;
}

.search-button {
    padding: 10px 165px 10px 160px;
    width: 385px;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;
    position: relative;
    left: 5px;
    font-weight: 800;
}

.clear {
    padding: 10px 165px 10px 160px;
    width: 385px;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;
    position: relative;
    left: 5px;
    font-weight: 800;
}

/* City History */

.city-history {
    position: absolute;
    left: 10px;
    top: 425px;
    width: 405px;
    max-height: 400px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.history-button {
    width: 380px;
    height: 50px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    position: relative;
    left: 5px;
}

/* City Weather details */


.city-details {
    position: relative;
    top: 0px;
    left: 100px;
    width: 1300px;
    font-size: 40px;
    border-bottom: black solid 3px;
}

.city-details h1 {
    font-size: 40px;
    width: 700px;
    text-decoration: underline;
    padding: 10px 10px 10px 0px;
}

.city-details h3 {
    font-size: 25px;
    width: 500px;
    padding: 10px 10px 0px 0px;
}

.city-details ul li {
    font-size: 25px;
    padding: 30px 15px 20px 15px;
    width: 400px;
}

#icon {
    width: 60px;
    height: 60px;
    position: relative;
    top: 5px;
}

/* 5 Day Forecast Container */

.forecast-container {

    position: absolute;
    top: 475px;
    left: 500px;
    width: 1200px;
    font-size: 40px;
    

}

.forecast-cards{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.forecast-container h3 {

    font-size: 25px;
    font-weight: 800;
    position: relative;
    left: 10px;
    top: 15px;
}

.forecast-cards div {

    border-radius: 20px;
    margin: 20px;
    height: 250px;
    width: 200px;
    background: linear-gradient(217deg, rgba(132, 237, 245, 0.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(75, 87, 255, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    box-shadow: black 5px 5px 5px;
}

.forecast-cards ul li {

    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 800;
    position: relative;
    left: 10px;
}

.forecast-icon {

    background-color: beige;
    height: 50px;
    width: 50px;
    position: relative;
    left: 145px;
    bottom: 15px;
}